/* ========================
    Google fonts import 
=========================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

/* ========================
    common section 
=========================== */
:root{
    --main-color: #053742;
    --secound-color: #3DBAFD;
    --text-color: #6C6C6C;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p{
    margin: 0;
    color: var(--text-color);
    font: 16px;
}
.link-button{
    text-decoration: none;
    color: #000000;
    background-color: var(--secound-color) ;
    font-size: 16px;
    padding: 10px 24px;
    margin-top: 25px;
}
.fa-arrow-right{
    font-size: 16px;
    margin-left: 8px;
}

/* ========================
    Hero section 
=========================== */
.hero-section{
    display: flex;
    background-color: var(--main-color);
    width: 100%;
    height: 650px;
}
.hero-description{
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 150px;
}
.hero-description h1{
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin: 0;
}
.hero-sec-image{
    background-image: url(images/transition/banner1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 70px;
    background-position-y: 100px;
    width: 42%;
    display: flex;
    align-items: center;
    margin-right: 140px;
}
.man{
    width: 550px;
    height: 440px;
    transform: rotate(-30deg);
    transition: transform .4s ease-in ;  
}
.ball{
    position: relative;
    top: -66px;
    left: 130px;
    z-index: 1;
    transition: transform .4s ease .42s;
}
.hero-sec-image:hover .man{
    transform: rotate(0deg);
}
.hero-sec-image:hover .ball{
    transform: translate(-150px, -300px);
}
.mobile-view{
    display: none;
}

/* ========================
    players section 
=========================== */

.players-section{
    margin: 70px 150px 70px 150px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 30px;
}
.player img{
    width: 300px;
    height: 256px;
}
.player-name{
    font-size: 28px;
    margin: 14px 0 10px;
    color: #18191F;
}

/* ========================
    Highlights section
=========================== */

.highlights{
    margin: 30px 150px;
}
.highlight{
    display: flex;
    column-gap: 26px;
}
.highlight-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 50px;
}
.highlight-desc h1{
    font-size: 48px;
    margin: 0 0 8px 0;
}
.highlights-image img {
    width: 500px;
    height: 380px;
}

/* ========================
    Top Stories section 
=========================== */

.top-stories{
    margin: 70px 150px;
}
.stories{
    display: flex;
    grid-column-gap: 15px;
}
.stories a{
    text-decoration: none;
    color: black;
}
.stories a:hover {
    text-decoration: underline;
}
.story{
    width: 250px;
    height: 400px;
    border: 1px solid var(--secound-color);
    border-radius: 10px;
}
.story h4, .story p {
    margin: 10px 0;
    padding: 0 15px;
}
.story img{
    width: 250px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* ========================
        Videos 
=========================== */

.video-moment{
    margin: 70px 150px;
}
.videos{
    display: flex;
}
.video a{
    display: inline-block;
}
.responsive-iframe{
    width: 500px;
    height: 350px;
}

/* ========================
            Footer 
=========================== */

.footer-section{
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--main-color);
    padding: 30px 0 63px 0;
}
.footer-image, .footer-image img{
    width: 480px;
    height: 110px;
}
.fab{
    padding: 10px;
    color: var(--main-color);
    background-color: var(--secound-color);
    border-radius: 50%;
    margin: 0 5px;
}
.footer-section p{
    margin: 0;
    color: var(--main-color);
}

/* ===============================
    Media queries >> Mobile device
================================== */

@media only screen and (max-width:688px) {

.hero-section{
    width: 100%;
    height: 700px;
    flex-direction: column;
}
.hero-description{
    margin: 50px 20px 20px 20px;
    width: 100%;
}
.hero-description h1{
    font-size: 35px;
    line-height: 65px;
    margin-right: 50px;
}
.hero-sec-image, .ball, .man, .hero-sec-image img{
    display: none;
}
.mobile-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 50px 20px;
}
.mobile-view img{
    width: 100%;
    height: auto;
}    
.players-section{
     margin: 50px 15px;
}
.players{
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 27px;
}
.player img{
    width: 100%;
    height: auto;
}   
.highlights{
    margin: 0 20px;
}
.highlight{
    flex-direction: column;
}
.highlight-desc {
    flex-direction: column;
    margin-bottom: 20px;
}
.highlight-desc h1{
    font-size: 35px;
}
.highlights-image {
    margin-right: 20px;
}
.highlights-image img {
    width: 100%;
    height: auto;
} 
.top-stories{
    margin: 0 20px;
}
.stories{
    flex-direction: column;
}
.stories a{
    margin: 0 20px 20px 0;
}
.story, .story img {
    width: 100%;
    height: auto;
}
.video-moment{
    margin: 30px 15px;
}
.videos{
    flex-direction: column;
}
.video {
    margin-bottom: 20px;
}

.responsive-iframe {
    width: 100%;
}  
.footer-image, .footer-image img {
    width: 250px;
    height: auto;
    }

}

/* _________ END______________ */